{% extends "base.html.twig"%}

{% block title %} Page non trouvée {% endblock  %}

{%  block body %}

    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-sm-auto"></div> <img src={{ asset('img/image-erreur-404.png') }} alt = erreur 404  class="card-img  table-responsive-sm">
        </div>
        <div class="col col-lg-2">
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">

            </div>
            <div class="col-md-auto" class="card">
                <a href="{{  path('main_home') }}" class="btn btn-primary btn- btn-block">Retourner à l'accueil</a>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>





{% endblock %}