<footer class="page-footer font-small blue pt-10 bg-primary fixed-bottom">
        <div class="footer-copyright text-center py-md-3 bg text-white" >&copy; {{ "now"|date ("Y") }} ENISorties
        </div>
    </footer>