<nav>
    <ul>
        <li><a href="#" title="Villes">Villes</a></li>
        <li><a href="#" title="Campus">Campus</a></li>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a href="#" title="profile">Mon profil</a></li>

        {% if app.user %}
            <li><a href="#">Create</a></li>


            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="#">Admin</a></li>
            {% endif %}
        {% else %}
            <li><a href="#">Logout</a></li>
        {% endif %}
    </ul>
</nav>